* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  width: 100%;
  background-color: #4a044e;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 100px;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: white;
  position: absolute;
  top: -10px;
}
ul {
  display: flex;
  color: white;
  width: 100%;
}
li {
  list-style: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  width: 220px;
  display: flex;
}
li .btn {
  width: 150px;
  margin-inline: auto;
  padding: 5px;
  background-color: #ee8080;
  .rounded-box {
    border: 5px solid #d6d7d9;
  }
}
input {
  margin: 35px 0;
  padding: 5px;
  width: 220px;
  float: right;
}
